@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/beams-template.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @apply h-screen lg:h-fit;
} 

